.stock-table {
    color: white;
    font-family: Impact, fantasy;
    margin-bottom: 10%;
}

.balance {
    position: relative;
    left: 205%;
    margin-bottom: 5%;
}

.stock-item {
    text-align: center;
} 
.stock-item:hover {
    background-color: #2a2a2a ;
}

.buy-more {
    margin-top: 10%;
    height: 20%;
    position: relative;
    left: 100%;
}

#buy-more-form  {
    position: relative;
    margin-top: 10%;
    left: 64%;
}
.collapse-buy {
    position: relative;
    margin-top: 10%;
    width: 35%;
    left: 70%;
}

.sell {
    position: relative;
    margin-top: 5%;
    height: 20%;
    margin-bottom: 10%;
    left: 100%;
}

#sell-form {
    position: relative;
    margin-top: 10%;
    left: 64%;
}

.collapse-sell {
    position: relative;
    margin-top: 10%;
    width: 35%;
    left: 70%;
    margin-bottom: 10%;
}

.sell-all {
    position: relative;
    margin-top: 10%;
    width: 35%;
    left: 70%;
    margin-bottom: 10%;
}