.stock-table {
    color: white;
    font-family: Impact, fantasy;
}

.stock-item {
    text-align: center;
} 
.stock-item:hover {
    background-color: #2a2a2a ;
}

.buy-more {
    margin-top: 10%;
    position: relative;
    left: 110%;
}

#buy-more-form  {
    position: relative;
    margin-top: 10%;
    left: 72%;
}
.collapse-buy {
    position: relative;
    margin-top: 10%;
    width: 35%;
    left: 70%;
}

.sell {
    position: relative;
    left: 110%;
    margin-top: 5%;
    margin-bottom: 10%;
}