.title {
    color: white;
    font-family: Impact, fantasy;
    position: relative;
    font-size: 20px;
    left: 50%;
}
.main-container {
    margin-top: 0px;
}

.graph-container {
    color: white;
    width: 65%;
    height: 20%;
    position: relative;
    left: 12%;
    top: 5%;
}

.graph {
    color: white;
    height: 20%;
    font-family: Impact, fantasy;
}

.search {
    width: 30%;
    margin-top: 10px;
    position: relative;
    left: 32%;
    margin-bottom: 20%;
}
.search-button {
    position: relative;
    height: 15%;
    font-family: Impact, fantasy;
}

#graph-search-collapse {
    width: 30%;
    margin-top: 5px;
    position: relative;
    left: 35%;
    font-family: Impact, fantasy;
}