.title {
    color: white;
    font-family: Impact, fantasy;
    position: relative;
    font-size: 20px;
    left: 50%;
    margin-top: 0%;
}

.graph-container {
    color: white;
    width: 70%;
    height: 30%;
    position: relative;
    left: 10%;
    top: 0%;
}

.graph {
    color: white;
    font-family: Impact, fantasy;
}

.search {
    width: 30%;
    position: relative;
    left: 32%;
    margin-bottom: 10%;
}
.search-button {
    position: relative;
    height: 15%;
    font-family: Impact, fantasy;
}

#search-collapse {
    width: 60%;
    margin-top: 5%;
    height: 15%;
    position: relative;
    left: 20%;
    font-family: Impact, fantasy;
}