.title {
    color: white;
    font-family: Impact, fantasy;
    position: relative;
    font-size: 20px;
    left: 50%;
}

.graph-container {
    color: white;
    width: 75%;
    height: 50%;
}

.graph {
    color: white;
    font-family: Impact, fantasy;
}