.failed {
    font-size: 20px;
    color: white;
    margin-top: 5%;
    font-family: Impact, fantasy;
    align: center;
    text-align: center;
}


.try-again {
    font-family: Impact, fantasy;
    width: 20%;
    position:relative;
    margin-top: 5%;
    left: 40%;
}