.failed {
    font-size: 20px;
    color: white;
    font-family: Impact, fantasy;
    padding: 60px;
    align: center;
    text-align: center;
}


.try-again {
    font-family: Impact, fantasy;
    width: 30%;
    position:relative;
    top:50%; 
    left: 35%;
}