.buy-button {
    font-family: Impact, fantasy;
    width: 20%;
    height: 10%;
    margin-top: 15px;
    margin-bottom: 20px;
    position:relative; 
    left: 45%;
}
.quote-from-buy {
     font-family: Impact, fantasy;
    width: 20%;
    height: 10%;
    margin-top: 15px;
    margin-bottom: 20px;
    position:relative; 
    left: 45%;

}