.to-quote-button {
    font-family: Impact, fantasy;
    width: 15%;
    height: 10%;
    margin-bottom: 20px;
    position:relative;
    left: 80%;
}

.to-balance-button {
    font-family: Impact, fantasy;
    width: 15%;
    height: 10%;
    margin-bottom: 10px;
    position:relative; 
    left: 80%;
}

#add-balance {
    width: 20%;
    position: relative;
    font-family: Impact, fantasy;
    left: 77%;
    height: 2%;
}