.to-quote-button {
    font-family: Impact, fantasy;
    width: 15%;
    height: 10%;
    margin-top: 5px;
    margin-bottom: 20px;
    position:relative;
    left: 80%;
}

.to-balance-button {
    font-family: Impact, fantasy;
    width: 15%;
    height: 10%;
    margin-top: 5px;
    margin-bottom: 20px;
    position:relative; 
    left: 80%;
}



.search {
    font-family: Impact, fantasy;
    position: relative;
    top: 50%;
    width: 40%;
    height: 10%;
    
}

.input-search {
    position: relative;
    top: 50%;
    color: white;
    font-family: Impact, fantasy;
    border-color: white;
}


#add-balance {
    width: 20%;
    position: relative;
    font-family: Impact, fantasy;
    left: 77%;
    height: 5%;
}